vimperator/info
/.adobe/
/.cache/
/.cgminer/
/.clamtk/
/.dbus/
/.distlib/
/.gnupg/
/.gstreamer-0.10/
/.i3situation/
/.icons/
/.java/
/.keychain/
/music/
/videos/
/Music/
/images/
/.local/
/downloads/
/.w3m/
/code/
/.macromedia/
/.mozilla/
/.links/
/.mpv/
/.nuke/
/.pip/
/Desktop/
/documents/
/.pylint.d/
/.profile/
/.pytone/
/.pki/
/.smartgit/
/.ssh/
/.steam/
/.subversion/
/.terasology/
/.Trash/
