!Black
*color0:#3D3D3D
*color8:#5E5E5E
!Red
*color1:#8A2F58
*color9:#CF4F88
!Green
*color2:#287373
*color10:#53A6A6
!Yellow
*color3:#914E89
*color11:#BF85CC
!Blue
*color4:#395573
*color12:#4779B3
!Magenta
*color5:#5E468C
*color13:#7F62B3
!Cyan
*color6:#2B7694
*color14:#47959E
!White
*color7:#899CA1
*color15:#C0C0C0

#define S_base03        #002b36
#define S_base02        #073642
#define S_base01        #586e75
#define S_base00        #657b83
#define S_base0         #839496
#define S_base1         #93a1a1
#define S_base2         #eee8d5
#define S_base3         #fdf6e3
#define S_yellow        #b58900
#define S_orange        #cb4b16
#define S_red           #dc322f
#define S_magenta       #d33682
#define S_violet        #6c71c4
#define S_blue          #268bd2
#define S_cyan          #2aa198
#define S_green         #859900

*background:              S_base03
*foreground:              S_base0
*fading:                  40
*fadeColor:               S_base03
*cursorColor:             S_base1
*pointerColorBackground:  S_base01
*pointerColorForeground:  S_base1
*color0:                  S_base02
*color1:                  S_red
*color2:                  S_green
*color3:                  S_yellow
*color4:                  S_blue
*color5:                  S_magenta
*color6:                  S_cyan
*color7:                  S_base2
*color9:                  S_orange
*color8:                  S_base03
*color10:                 S_base01
*color11:                 S_base00
*color12:                 S_base0
*color13:                 S_violet
*color14:                 S_base1
*color15:                 S_base3

URxvt*scrollBar:true
URxvt*scrollBar_right:true
URxvt*scrollBar_floating:false
URxvt*scrollstyle:plain
URxvt*secondaryScroll:true
URxvt.background: #121212
URxvt.foreground: #999999
URxvt.underlineColor:   cyan
URxvt.saveLines:        8192
URxvt.scrollBar: false
URxvt.font: xft:Droid Sans Mono:size=12:antialias=true
URxvt.letterSpace: -1
URxvt.perl-ext-common:  default,matcher,tabbed
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1
URxvt.tabbed.tabbar-fg: 6
URxvt.tabbed.tabbar-bg: 0
URxvt.tabbed.tab-fg:    6
URxvt.tabbed.tab-bg:    0
