URxvt.font: xft:Dejavu Sans Mono:size=12:antialias=true
URxvt*secondaryScroll:true
URxvt.scrollBar: false
URxvt.cursorColor: #38aac7
URxvt.underlineColor:   cyan
URxvt.saveLines:        8192
URxvt.letterSpace: -1
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/dwb
URxvt.matcher.button:   1

! Foggy Hills 3 !
!                   /\
!                 //  \     _      /\
!     /\_        _//   \   / \/\ _/  \    /\
!   _/   \/\   _/ /     \_/   \_/     \__/ _\
!  /        `./   \_     \_    / //    /    \\
! //          \_  / \      \  / _     /  /    \
!//             |/         

URxvt*background: #252525
URxvt*foreground: #DDDDDD

*color0: #010606
*color1: #070F0F
*color2: #093B40
*color3: #515554
*color4: #125C64
*color5: #1F7C82
*color6: #2EA1A5
*color7: #58AEB2
*color8: #77C0C3
*color9: #84BEC0
*color10: #9FD1D3
*color11: #B7DBDB
*color12: #BCE2E1
*color13: #C1E0DF
*color14: #C1DEDE
*color15: #C4E2E2
