URxvt.font: xft:Dejavu Sans Mono:size=12:antialias=true
URxvt*secondaryScroll:true
URxvt.scrollBar: false
URxvt.cursorColor: #38aac7
URxvt.underlineColor:   cyan
URxvt.saveLines:        8192
URxvt.letterSpace: -1
URxvt.perl-ext-common:  default,matcher
URxvt.url-launcher:      /usr/bin/firefox
URxvt.matcher.button:   1

*foreground: #70898F
*background: #151515

!black
*color0:     #101010
*color8:     #404040
!red
*color1:     #E84F4F
*color9:     #D23D3D
!green
*color2:     #B8D68C
*color10:    #A0CF5D
!yellow
*color3:     #E1AA5D
*color11:    #F39D21
!blue
*color4:     #7DC1CF
*color12:    #4E9FB1
!magenta
*color5:     #74718e
*color13:    #74718e
!cyan
*color6:     #70898F
*color14:    #70898F
!white
*color7:     #dddddd
*color15:    #dddddd

URxvt*borderColor:        #151515
URxvt*colorBD:            #ffffff
URxvt*cursorColor:        #ff8939
URxvt*cursorColor2:       #151515
